body {
    background-color: beige;
}

a {
    text-decoration: none;
    background-color: red;
    color: royalblue;
}

h1 {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

#page-title {
    color: blue;
}

.favorite-section {

}

#most-favorite-food {

}

.favorite-image {
    
}

#favorite-music-name {

}