body {
    background-color: beige;
}

a {
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(75, 49, 49);
    color: royalblue;
    border-radius: 5px;
    color: white;
}

#page-title {
    color: blue;
    font-size: 40px;
    font-family: Sans-serif, Arial, Helvetica;
}

.favorite-section {
    padding: 10px;
    margin: 15px;
    border: 1px solid grey;
}

#most-favorite-food {

}

.favorite-image {
    border-radius: 20px;
}

#favorite-music-name {

}

table, td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;  
  }

  .section-header {
      font-family: fantasy, Arial, Helvetica;
  }
  