body {
    background-color: beige;
}

h1 {
    text-align: center;
}

a {
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(75, 49, 49);
    color: royalblue;
    border-radius: 5px;
    color: white;
}

#page-title {
    text-align: center;
    color: blue;
    font-size: 40px;
    font-family: Sans-serif, Arial, Helvetica;
}

.favorite-section {
    padding: 10px;
    margin: 15px;
    border: 1px solid grey;
}

#most-favorite-food {
    font-weight: bold;
    font-family: fantasy, Arial, Helvetica;
    color: red;

}

.favorite-image {
    border-radius: 20px;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;  
  }

  th {
      color: green;
  }

  td {
      color: orange;
  }

  .section-header {
    font-family: fantasy, Arial, Helvetica;
    font-size: 25px;
  }
  
  #favorite-movie-title {
    font-style: italic;
  }

  p {
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: green;
  }

  #favorite-music-artist-name {
    font-weight: bold;
  }